.Header {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .logo {
        flex-direction: column;
        align-items: left;
        max-width: 200px;

        img {
            width: 100%;
        }

        p.internetBanking {
            width: 100%;
            font-weight: bold;
            font-size: 17px;
            color: grey;
            text-align: right;
        }
    }   

    .rightSide{
        color: $main_color;
    }

}
