.Main {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    margin-top: -30px;
    display: flex;

    .leftBar {
        height: 720px;
        width: 320px;
        background-color: white;
        border: 2px solid $main_color;
        border-radius: 10px;

        .saldoConta {
            text-align: center;
            padding: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                color: grey;

                .saldo {
                    color: $main_color;
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            .icon {
                color: $main_color;
                margin-top: 4px;
            }
        }

        .dadosConta {
            display: flex;
            flex-direction: row;
            margin-top: -20px;
            p {
                margin: 0 auto;
                padding: 10px;
                color: grey;

                span {
                    font-weight: bold;
                    color: $main_color;
                }
            }
        }

        .options {
            width: 250px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            li {
                list-style: none;
                color: $main_color;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                margin-top: 20px;
                .icon {
                    align-self: left;
                }

                p.textList {
                    font-weight: bold;
                    padding: 20px;
                    margin-top: -15px;
                }

                &:hover {
                    color: rgb(161, 8, 39);
                }
            }

            hr {
                opacity: 0.3;
            }
        }
    }

    .rightSide {
        margin-top: 50px;
        margin-left: 50px;
        background-color: white;
        padding: 20px;
        p.moreClicked {
            font-weight: bold;
            font-size: 25px;
            color: $main_color;
        }

        .container {
            margin-top: 50px;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 40px 60px;

            .box {
                width: 140px;
                height: 120px;
                border: 2px solid $main_color;
                border-radius: 8px;
                color: $main_color;

                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    margin: 10px;
                    font-weight: bold;
                    text-align: center;
                }

                transition: all 0.3s ease 0s;
                &:hover {
                    transform: translateY(-2px);
                    transform: translateX(-2px);
                    box-shadow: 5px 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .content {
        .investimentos {
            .tinyTitle {
                color: grey;
            }

            .saldo {
                font-size: 25px;
                color: grey;
                span {
                    font-weight: bold;
                    color: $main_color;
                }
            }

            p.title {
                font-weight: bold;
                font-size: 25px;
                color: $main_color;
            }

            .investimentosResumo {
                display: flex;
                justify-content: space-between;
            }
        }

        .contacorrente {
            .title {
                font-weight: bold;
                font-size: 25px;
                color: $main_color;
            }

            .status {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .item {
                    .tinyTitle {
                        color: grey;
                    }

                    .saldo {
                        font-size: 25px;
                        color: grey;
                        span {
                            font-weight: bold;
                            color: $main_color;
                        }
                    }
                }
            }

            .ultimasCompras {
                color: grey;
                font-weight: bold;
            }

            .compras {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .item {
                    color: grey;

                    .titleCompra {
                        color:grey;
                    }

                    .titlePrice {
                        color: grey;
                        span{
                            color: $main_color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
