.Main{

    margin-top: -30px;

    .leftBar{
        height: 300px;
        background-color: white;
        border: 2px solid $main_color;
        border-radius: 10px;
        box-shadow: 2px 2px $main_color;
    }

    .QuickAccess{
        height: 300px;
        background-color: white;
        border: 2px solid $main_color;
        border-radius: 10px;
        box-shadow: 2px 2px $main_color;
    }
}