.Welcome {
    background-color: $main_color;
    height: 150px;
    display: flex;

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1220px;

        p {
            color: white;
        }

        p.welcome {
            font-weight: bold;
            font-size: 30px;
        }

        p.date {
            font-weight: 600;
        }
    }
}
