.Welcome{
    margin-top: 40px;
    background-color: $main_color;
    height: 150px;
    
    p{
        color: white;

    }

    p.welcome{
        font-weight: bold;
        font-size: 30px;
        
    }

    p.date{
        font-weight: 600;
    }
}