@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


$main_color: #CC092F;

@import "partials/header";
@import "partials/welcome";
@import "partials/main";